<div class="row-fluid">
	<div class="hero-unit text-center span6 offset3"><h1><div class="up">UP</div></h1>
<div class="cetera text-right light">cetera
</div>
</div>
<div class="row-fluid">
	<h1 class="text-right points span6 offset3">...</h1>
</div>
<div class="row-fluid">

<div class="span6 offset3 scope light">Apps. Marketing. Law.</div>
</div>

